@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;500;600;700&display=swap');

:root{
    --font-family: 'Manrope', sans-serif;
    --color-bg: #040C18;
    --color-footer: #031B34;
    --color-blog: #042c54;
    --color-text: #81AFDD;
    --color-subtext:#FF8A71;
}
.btn-primary{
    width: 100px;
    height: 30px;
    border: none;
 
   background: #FF4820;
   border-radius: 5px;
   cursor: pointer;
}
.btn-input{
    width: 100px;
    height: 2.5rem;
    border: none;
   background: #FF4820;
   color: #fff;
   cursor: pointer;
}
.container{
    width: 90%;
    margin: 0 auto;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}